<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title or site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Preload critical resources -->
    <link rel="preload" href="/css/blog.css" as="style">
    <link rel="preload" href="/font/OpenSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/font/OpenSans-Bold.ttf" as="font" type="font/ttf" crossorigin>
    
    <!-- Prefetch likely next navigations -->
    {% if page.url == "/" %}
    <link rel="prefetch" href="/posts/">
    <link rel="prefetch" href="/posts/index.html">
    {% endif %}
    
    <!-- DNS prefetch for external links -->
    <link rel="dns-prefetch" href="https://encamp.com">
    <link rel="dns-prefetch" href="https://github.com">
    <link rel="dns-prefetch" href="https://twitter.com">
    <link rel="dns-prefetch" href="http://www.linkedin.com">
    <link rel="dns-prefetch" href="http://stackoverflow.com">
    
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="manifest" href="/site.webmanifest" />
    
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="QRSJWFDS" defer></script>
    <!-- / Fathom -->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <ul class="header__nav">
          <li>
            <a href="/" class="link">
              <div class="link__emoji">💼</div> 
              <div class="link__text">Work</div>
            </a>
          </li>
          <li>
            <a href="/posts/" class="link">
              <div class="link__emoji">📝</div> 
              <div class="link__text">Posts</div> 
            </a>
          </li>
        </ul>
        <div class="header__about">
          <h1 class="header__name">Joshua</h1>
          <p class="header__whoami">
            CTO @ <a href="https://encamp.com" target="_blank" rel="noopener">Encamp</a><br />
            jmoyers@gmail.com
          </p>
          <ul class="social">
            <li>
              <a href="http://www.linkedin.com/in/jmoyers">
                <img src="/image/linkedin.png" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/joshuamoyers">
                <img src="/image/twitter.png" />
              </a>
            </li>
            <li>
              <a href="https://github.com/jmoyers">
                <img src="/image/github.png" />
              </a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/128581/josh">
                <img src="/image/stackoverflow.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="header__profile">
          <img src="/image/profile.jpg" />
        </div>
      </header>
      <div class="content">
        {{ content | safe }}
      </div>
      <div class="copyright">
        &copy; Copyright {% year %}, 
        Joshua Moyers, jmoyers@gmail.com
      </div>
    </div>
    
    <!-- Prefetch internal links on hover for instant navigation -->
    <script>
      // Keep track of prefetched URLs to avoid duplicates
      const prefetched = new Set();
      
      // Only prefetch internal links
      function shouldPrefetch(url) {
        try {
          const urlObj = new URL(url);
          return urlObj.origin === window.location.origin && !prefetched.has(url);
        } catch (e) {
          return false;
        }
      }
      
      // Prefetch a URL
      function prefetchLink(url) {
        if (!shouldPrefetch(url)) return;
        
        const link = document.createElement('link');
        link.rel = 'prefetch';
        link.href = url;
        document.head.appendChild(link);
        prefetched.add(url);
      }
      
      // Add hover listeners to all links
      document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('a[href]');
        
        links.forEach(link => {
          link.addEventListener('mouseenter', () => {
            prefetchLink(link.href);
          }, { passive: true });
          
          // Also prefetch on touchstart for mobile
          link.addEventListener('touchstart', () => {
            prefetchLink(link.href);
          }, { passive: true });
        });
      });
    </script>
  </body>
</html> 