*.swp
*local_install*
public
resources
.DS_Store
node_modules
backup
.idea
*terraform.tfvars*
*.retry
.terraform
*.tfstate*
*id_rsa*
*.ssh*
*.ssl*
*out.plan*
*out.lock*
*hosts*

# Yarn
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# TypeScript
*.tsbuildinfo
dist/

# 11ty
.cache/
_site/

# Turborepo
.turbo/

# Environment variables
.env
.env.*

# Build outputs
*.log
