@font-face {
  font-family: open sans;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/font/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: open sans;
  font-style: bold;
  font-weight: 800;
  font-display: auto;
  src: url(/font/OpenSans-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
}

a:link {
  color: rgba(0, 0, 0, 0.6);
}

a:visited {
  color: rgba(0, 0, 0, 0.6);
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.6);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: open sans, sans-serif;
}

.main {
  color: rgba(0, 0, 0, 0.7);
  line-height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .main {
    width: 100%;
    padding: 0 3rem;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
  width: 100%;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
}

.header__nav {
  display: flex;
  list-style: none;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .header__nav {
    width: 70%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

.header .link {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .header .link {
    margin-right: 0;
  }
}

.header .link__emoji {
  font-size: 1.25rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.header .link__text {
  font-size: 2.5rem;
}

.header__about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 3rem;
  text-align: right;
  height: 14.8rem;
}

@media only screen and (max-width: 600px) {
  .header__about {
    height: auto;
    text-align: center;
    margin: 0;
  }
}

.header__name {
  padding: 0;
  font-weight: 700;
}

.header__whoami {
  margin: 0 0 1rem;
  padding: 0;
}

.header__profile img {
  width: 17rem;
}

@media only screen and (max-width: 600px) {
  .header__profile img {
    display: none;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 0;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .social {
    justify-content: center;
    margin: 0;
  }
}

.social li {
  margin-left: 1rem;
}

.content {
  width: 100%;
}

.content p:first-child {
  border: none;
  padding-left: 0;
}

.job__title {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.job__location {
  color: rgba(0, 0, 0, 0.25);
  line-height: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.job__subtitle {
  margin: 1rem 0;
}

.job__techlist {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border-left: 0.4rem solid rgba(255, 0, 0, 0.1);
}

.job__tech {
  padding: 0 1rem 0.25rem;
  margin-bottom: 0.5rem;
}

.job__logo,
.job__logo-ironridge {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  height: 2.5rem;
}

.job__logo-ironridge,
.job__logo-ironridge-ironridge {
  margin-top: 1rem;
}

.copyright {
  margin: 3rem 0;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}

.article,
.article-summary {
  border-radius: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

.article-summary,
.article-summary-summary {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.article-summary:hover,
.article-summary-summary:hover {
  cursor: pointer;
  box-shadow: 0 0 5rem 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .article-summary,
  .article-summary-summary {
    border: none;
    padding: 0;
    margin-bottom: 2rem;
  }

  .article-summary:hover,
  .article-summary-summary:hover {
    cursor: default;
    box-shadow: none;
  }
}

.article__title,
.article-summary__title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.article__subhead,
.article-summary__subhead {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  margin-top: -0.3rem;
}

@media only screen and (max-width: 600px) {
  .article__subhead,
  .article-summary__subhead {
    margin-bottom: 0;
  }
}

.article__content,
.article-summary__content {
  margin-bottom: 5rem;
}

.article__content a,
.article-summary__content a {
  font-weight: 700;
}

.article__content a:link,
.article-summary__content a:link {
  color: rgba(0, 0, 200, 0.6);
}

.article__content a:visited,
.article-summary__content a:visited {
  color: rgba(0, 0, 200, 0.6);
}

.article__content a:hover,
.article-summary__content a:hover {
  color: rgba(0, 0, 200, 0.6);
}

.article__content a:active,
.article-summary__content a:active {
  color: rgba(0, 0, 200, 0.6);
}

.article__content p,
.article-summary__content p {
  margin: 0 0 2rem;
}

.article__content ul,
.article__content ol,
.article-summary__content ul,
.article-summary__content ol {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.article__content h2,
.article-summary__content h2 {
  margin-bottom: 2rem;
}

.article__content pre,
.article-summary__content pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.article__content pre code,
.article-summary__content pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  border: none;
}

.article__content code,
.article-summary__content code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.article__content img,
.article-summary__content img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
