{{!< default}}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
  <main role="main">
    <article class="post">
      <header class="post__header">
        <h1 class="post__title">
          {{title}}
        </h1>
      </header>
      <section class="post__content">
        {{content}}
      </section>
    </article>
  </main>
{{/post}}
