<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $style := resources.Get "scss/blog.scss" }}
    {{ $style := $style | resources.ToCSS }}
    {{ $style := $style | resources.Minify }}
    {{ $style := $style | resources.Fingerprint }}
    <link rel="stylesheet" 
          href="{{ $style.Permalink }}" 
          integrity="{{ $style.Data.Integrity }}" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div class="main">
      <header class="header">
        <ul class="header__nav">
          <li>
            <a href="/" class="link">
              <div class="link__emoji">💼</div> 
              <div class="link__text">Work</div>
            </a>
          </li>
          <li>
            <a href="/posts" class="link">
              <div class="link__emoji">📝</div> 
              <div class="link__text">Posts</div> 
            </a>
          </li>
        </ul>
        <div class="header__about">
          <h1 class="header__name">{{ .Site.Title }}</h1>
          <p class="header__whoami">
            {{ .Site.Params.Description }}<br />
            {{ .Site.Params.Contact }}
          </p>
          <ul class="social">
            <li>
              <a href="http://www.linkedin.com/in/jmoyers">
                <img src="/image/linkedin.png" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/joshuamoyers">
                <img src="/image/twitter.png" />
              </a>
            </li>
            <li>
              <a href="https://github.com/jmoyers">
                <img src="/image/github.png" />
              </a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/128581/josh">
                <img src="/image/stackoverflow.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="header__profile">
          <img src="/image/profile.jpg" />
        </div>
      </header>
      <div class="content">
        {{ if .IsHome }}
          {{ .Content }}
        {{ end }}
        {{ if not .IsHome }}
          {{ block "main" . }}
          {{ end }}
        {{ end }}
      </div>
      <div class="copyright">
        &copy; Copyright {{ dateFormat "2006" now }}, 
        Joshua Moyers, josh@jmoyers.org
      </div>
    </div>
  </body>
</html>
