<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <title>Joshua Moyers</title>
      <link rel="stylesheet" href="/css/solarized_dark.css" type="text/css" media="screen" charset="utf-8">
      <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
      
      <style>
         #dsq-subscribe {
            display: none;
         }
         .dsq-trackback-url {
            display: none;
         }

         #dsq-num-posts {
            display: none;
         }

         body, html {
            margin: 0;
            padding: 0;
            font-family: 'Droid Sans', sans-serif;
         }

         h1, h1 a, h1 a:active, h1 a:hover, h1 a:visited,
         h2, h2 a, h2 a:active, h2 a:hover, h2 a:visited  {
            color: black;
            text-decoration: none;
            margin-top: 0;
         }

         #nav h1, #nav h1 a, #nav h1 a:active, #nav h1 a:hover, #nav h1 a:visited {
            color: black;
            font-size: 18px;
         }

         a, a:active, a:hover, a:visited {
            color: #cb5b16; 
         }

         #nav {
            position: fixed;
            height: 100%;
            padding: 20px;
            width: 200px;
            padding-top: 40px;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            border-right: 2px solid gray;
         } 

         #nav a {
            text-align: center;
            display: block;
            padding: 3px;
            line-height: 30px;
            color: #cb4b16;
            text-decoration: none;
            font-size: 12px;
         }

         #nav a.h2-anchor {
            color: black;
            font-size: 16px;
            display: block;
         }

         #nav ul {
            padding: 0;
            margin: 0;
         }

         #nav ul li {
            list-style: none;
            padding: 3px;
            margin-bottom: 8px;
         }

         #main {
            left: 270px;
            width: 700px;
            position: absolute;
            background-color: white;
            padding: 30px 50px 30px 50px;
         }

         article, code {
            position: relative; 
         }

         #jmoyers pre code {
            border: 3px solid gray;
            border-radius: 5px; 
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            padding: 20px;
         }

         #arrow {
            position: absolute;
            left: 239px;
         }

         .arrow {
            border-color: transparent transparent transparent gray;
            border-style: solid;
            border-width: 20px;
            position:absolute;
            height: 0;
            width: 0;
            left: 3px;
            z-index: 998;
         }

         .arrow-border {
            border-color: transparent transparent transparent white;
            border-style: solid;
            border-width: 20px;
            height: 0;
            width: 0;
            left: 0px;
            z-index: 999;
            position: absolute;
         }
      </style>
   </head>
   <body id='jmoyers'>
      <div id='container'>
         <div id='nav'>
            <h1><a href='/'>jmoyers <span style='color: #268bd2;'>(on)</span> web</a></h1>
            <div id='arrow'>
               <div class='arrow'></div>
               <div class='arrow-border'></div>
            </div>
            <ul>
            </ul>
         </div>
         <div id='main'>
            <%- body %>
            <div id="disqus_thread"></div>
         </div>
      </div>
      <script src="/js/highlight.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/scrollto.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/localscroll.js" type="text/javascript" charset="utf-8"></script>
      <script src="/js/throttle.js" type="text/javascript" charset="utf-8"></script>
      <script type='text/javascript'>
         function urlify(string){
            return string.replace(/ /g, '-')
               .replace(/[^a-zA-Z\-]+/g, '')
               .toLowerCase();
         }

         var animationGuard = false,
            clicked = false,
            handled = false;

         var headings = $('h2, h3').each(function(){
            var name = urlify($(this).text());

            $(this).prepend($('<a name='+name+'></a>'));

            var a = $('<a href="#'+name+'"></a>')
               .html($(this).text())
               .attr('class', this.nodeName.toLowerCase() + '-anchor');

            $('<li></li>').html(a).appendTo($('#nav ul'));
         });

         var title = $('h2');
         title.wrapInner('<a href="posts/'+urlify(title.text())+'" />');

         $('#nav').localScroll({
            onBefore: function(){
               animationGuard = true;
            },
            onAfter: function(){
               animationGuard = false;
            },
            hash: true,
            lock: true
         });

         $(window).scroll($.debounce(100,function(){
            if (animationGuard) return;
            var scrollTop = $(window).scrollTop(),
                selected = false;
            headings.each(function(){
               if (scrollTop >= $(this).offset().top) {
                  selected = $('#nav a:contains('+$(this).text()+')');
               }
            });
            
            if (!selected) {
               selected = $('#nav a:contains('+headings.first().text()+')');
            }

            var arrow = $('#arrow');
            var newTop = selected.position().top + (selected.height()/2) - 15;
            arrow.css('top', newTop + 'px');
            selected = false;
         }));

         hljs.initHighlightingOnLoad();
      </script>
      <script type="text/javascript">
          var disqus_shortname = 'jmoyers';
          var disqus_identifier = urlify($($('h2')[0]).text());
          var disqus_url = 'http://jmoyers.org/posts/' + urlify($($('h2')[0]).text());

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
   </body>
</html>
