@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 800;
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: rgba(0, 0, 200, 0.5);
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.main {
  color: rgba(0, 0, 0, 0.7);
  line-height: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.1);

  &__nav {
    display: flex;
    list-style: none;
    margin-right: auto;
  }

  &__link {
    margin-right: 1rem;
  }

  &__about {
    display: flex;
    margin-right: 3rem;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    height: 14.8rem;
  }

  &__name {
    padding: 0;
    font-weight: bold;
  }

  &__whoami {
    margin: 1.5rem 0 0 0;
    padding: 0;
    line-height: 2rem;
  }

  &__profile img {
    width: 17rem;
  }
}

.social {
  display: flex;
  justify-content: flex-end;

  margin: 2rem 0 0 0;

  list-style: none;

  li {
    margin-left: 1rem;
  }
}

.content {
  width: 100%;

  p:first-child {
    border: none;
    padding-left: 0;
  }

  p {
    margin-top: 1rem;
    border-left: 0.4rem solid rgba(0, 0, 255, 0.1);
    padding-left: 1rem;
  }

  &__title {
    font-size: 3rem;
    margin: 2rem 0 0 0;
  }

  h4 {
    margin: 2rem 0 0 0;
  }

  ul {
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-left: 0.4rem solid rgba(255, 0, 0, 0.1);
  }

  li {
    padding: 0rem 1rem 0.25rem 1rem;
    margin-bottom: 0.5rem;
  }
}

.job {
  h3 {
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }

  img {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    height: 2.5rem;
  }

  .ironridge {
    margin-top: 1rem;
  }

  .location {
    color: rgba(0, 0, 0, 0.25);
    line-height: 2rem;
    font-size: 1.2rem;
  }
}
