@import "components/bootstrap/less/bootstrap.less";
@import "components/source/github.less";
@import "components/source/solarized.less";
@import "fonts.less";

body {
  font-family: "Open Sans", arial, sans-serif;
  color: #424242;
}

.main {
  max-width: 900px;
  margin: 40px auto 40px auto;

  @media (min-width: @screen-sm-min) {
    margin: 100px auto 100px auto;
  }

  .header {
    @header-padding: 30px;
    @header-margin: 30px;

    @unstacked-layout: @screen-sm-min;

    @photo-width: 185px;
    @photo-width-unstacked: 165px;

    border-bottom: 5px solid #dddddd;
    padding: 0 0 @header-padding 0;
    margin: 0 0 @header-margin 0;
    position: relative;

    .navigation {
      overflow: auto;
      text-align: center;

      @media (min-width: @unstacked-layout) {
        position: absolute;
        bottom: @header-padding;
        text-align: left;
      }

      ul {
        position: relative;
        overflow: auto;
        display: inline-block;
        margin: 20px auto 0 auto;
        padding: 0;
        font-size: 25px;
        font-weight: 700;
        list-style: none;

        li {
          margin: 0 10px 0 10px;
          float: left;
          padding: 0;
        }
      }
    }

    .about {
      text-align: center;

      @media (min-width: @unstacked-layout) {
        text-align: right;
      }

      // Hacks: combined with col-md-offset-2
      // because custom column widths aren't a thing
      @media (min-width: @screen-md-min) {
        padding-right: 30px;
      }

      h1 {
        font-weight: 700;
        margin: 0;
      }

      .social {
        list-style: none;
        padding: 0;
        width: (24 + 5) * 4px;
        margin: 0 auto;
        overflow: auto;

        @media (min-width: @unstacked-layout) {
          width: auto;
        }

        li {
          @media (min-width: @unstacked-layout) {
            float: right;
            margin: 0 0 0 5px;
          }

          float: left;
          margin: 0 5px 0 0;
          padding: 0;
        }
      }
    }

    .profile {
      @media (min-width: @unstacked-layout) {
        padding: 0;
      }

      img {
        @media (min-width: @unstacked-layout) {
          width: @photo-width-unstacked;
          margin: 0 0 0 auto;
        }

        width: @photo-width;
        height: auto;
        margin: 0 auto 10px auto;
        display: block;
      }
    }
  }

  h2 {
    font-weight: 600;
    margin: 30px 0 10px 0;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 30px 0 10px 0;
  }

  .job {
    h3 {
      margin-bottom: 0;
    }

    .location {
      line-height: 1;
      margin-bottom: 15px;
      color: #b6b6b6;
    }

    // Inline company logo in job listing
    .company {
      height: 25px;
    }
  }


  p {
    line-height: 1.6;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    margin: 0 0 25px 0;
  }
}